body {
  background-image: linear-gradient(to bottom, #171d27, #122a34, #0a373b, #174339, #324e32);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: white;
  padding: 1px 10px;
  font-size: 45px;
  text-shadow: 4px 4px 5px black;
}

li.menu {
  list-style: none;
  outline:  2px;
  outline-width: 5px 5px;
  outline-style: auto;
}
li.newest {
  text-align: center;
  list-style: none;
}
a.active {
  text-align: center;
  text-decoration-line: none;
  color: white;
  font-size: 30px;
  display: inline-block;
  padding: 14px 25px;
  text-shadow: 2px 2px 5px black;
  background-color: #00001a;
  transition: all 1s;
}
a.menu {
  text-align: center;
  text-decoration-line: none;
  color: white;
  font-size: 25px;
  display: inline-block;
  padding: 14px 25px;
  text-shadow: 2px 2px 5px black;
  transition: all 1s;
}
a.newest {
  font-size: 50px;
  text-decoration-line: none;
}
a:hover.newest {
  text-decoration-line: underline;
}
a:hover.active {
  text-decoration-line: underline;
  padding: 14px 25px;
  font-size: 35px;
  background-color: black;
}
a:hover.menu {
  text-decoration-line: underline;
  padding: 14px 25px;
  font-size: 30px;
	background-color: black;
}
a.sk {
	text-decoration-line: none;
  color: white;
  font-size: 30px;
  display: inline-block;
  padding: 14px 25px;
  text-shadow: 2px 2px 5px black;
	transition: all 1s;
}
a:hover.sk {
	color: black;
}
image {
	vertical-align: center;
}
div.center {
	position: fixed;
  top: 24%;
	left: 42%;
}
div.footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #194d33;
  color: white;
  text-align: center;
}
a.warn {
  text-decoration-line: none;
}
p.warn {
  font-size: 80px;
  background: -webkit-linear-gradient(white, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s;
}
p.warn:hover {
  background: -webkit-linear-gradient(red, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
p.cs {
  font-size: 80px;
  background: -webkit-linear-gradient(white, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.cs:hover {
  font-size: 80px;
  background: -webkit-linear-gradient(green, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}













